### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [1]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

## District Summary

* Calculate the total number of schools

* Calculate the total number of students

* Calculate the total budget

* Calculate the average math score 

* Calculate the average reading score

* Calculate the percentage of students with a passing math score (70 or greater)

* Calculate the percentage of students with a passing reading score (70 or greater)

* Calculate the percentage of students who passed math **and** reading (% Overall Passing)

* Create a dataframe to hold the above results

* Optional: give the displayed data cleaner formatting

In [2]:
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [3]:
school = school_data_complete["school_name"].unique()
total_schools = len(school)
total_schools

total_student = len(school_data_complete)

district_real_student_count = student_data['student_name'].count()



list_budget = school_data_complete.groupby("school_name").mean()
total_budget = list_budget["budget"].sum()
#total_budget = '$[:,.2f]'.format(total_budget) didn't work for some reason
#total_budget = '$[:,]'.format(total_budget) neither did this, both printed wrong things
total_budget = '${:,.2f}'.format(total_budget)


average_math_score = school_data_complete['math_score'].mean()
average_reading_score = school_data_complete['reading_score'].mean()

#passing grades  

passing_reading = school_data_complete.loc[school_data_complete['reading_score'] >= 70,:]
reading_percentage = passing_reading['reading_score'].count()/ total_student * 100
reading_percentage

passing_math = school_data_complete.loc[school_data_complete['math_score'] >= 70,:]
math_percentage = passing_math['math_score'].count()/ total_student * 100
math_percentage

total_passing = (reading_percentage + math_percentage)/district_real_student_count
#total_passing = student_data[(student_data['math_score']>=70)&(student_data['reading_score']>=70)]['student_name'].count()/district_real_student_count
#total_passing = (int(passing_reading + passing_math)/2)

total_student = '{:,.0f}'.format(total_student)

district_summaryDF = pd.DataFrame({"Total Schools" : [total_schools, 1], "Total Students" : [total_student, 1],
                         "Total Budget": [total_budget, 1],
                           "Average Math Score" : [average_math_score, 1], "Average Reading Score" : [average_reading_score, 1],
                          "% Passing Math" : [math_percentage, 1], "% Passing Reading" : [reading_percentage,1], 
                          "% Overall Passing Rate" : [total_passing,1]})

summary = district_summaryDF.drop([1])

summary

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"39,170","$24,649,428.00",78.985371,81.87784,74.980853,85.805463,0.004105

## School Summary

* Create an overview table that summarizes key metrics about each school, including:
  * School Name
  * School Type
  * Total Students
  * Total School Budget
  * Per Student Budget
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * % Overall Passing (The percentage of students that passed math **and** reading.)
  
* Create a dataframe to hold the above results

In [4]:
school_data_complete.set_index('school_name').groupby(['school_name'])

In [5]:
school_data_complete.set_index('school_name')['type']

school_name
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
                        ...
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Name: type, Length: 39170, dtype: object

In [6]:
school_data_complete.set_index('school_name')['Student ID'].count()

39170

In [7]:
school_data_complete.set_index('school_name')['budget'].head()

school_name
Huang High School    1910635
Huang High School    1910635
Huang High School    1910635
Huang High School    1910635
Huang High School    1910635
Name: budget, dtype: int64

In [16]:
school_data_complete.set_index('school_name')['budget']/school_data_complete.set_index('student_name')['budget'].tail()
school_data_complete.drop_duplicates()
clean_school_data = school_data_complete.drop_duplicates()
clean_school_data

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [201]:
school_pop = clean_school_data['school_name'].value_counts()

school_type = school_data.set_index(['school_name'])['type']

school_budget = school_data.set_index('school_name')['budget']

per_student = school_budget/school_pop

school = clean_school_data.groupby('school_name')
average_math = school['math_score'].mean()
average_reading = school['reading_score'].mean()

passing_math = clean_school_data.loc[clean_school_data['math_score'] >= 70,:].groupby('school_name')
passing_math = passing_math['Student ID'].count()/school_pop * 100

passing_reading = clean_school_data.loc[clean_school_data['reading_score'] >= 70,:].groupby('school_name')
passing_reading = passing_reading['Student ID'].count()/school_pop * 100

all_passing = clean_school_data.loc[(clean_school_data['reading_score']>=70) & (clean_school_data['math_score']>=70)].groupby('school_name')
all_passing = all_passing['Student ID'].count()/school_pop

# student_per_school = clean_school_data.set_index('school_name')['student_name'].count()

# school_budget = clean_school_data.set_index('school_name')['budget']

# student_budget = clean_school_data.set_index('school_name')['budget']/clean_school_data.set_index('student_name')['budget']


# average_math_score = school_group["math_score"].mean()
# average_reading_score = school_group["reading_score"].mean()


# passing_math = clean_school_data.loc[clean_school_data['math_score'] >= 70,:].groupby('school_name')
# passing_math = passing_math['Student ID'].count()/student_per_school * 100


# passing_reading = clean_school_data.loc[clean_school_data['reading_score'] >= 70,:].groupby('school_name')
# passing_reading = passing_reading['Student ID'].count()/student_per_school * 100


# all_passing = clean_school_data.loc[(clean_school_data['reading_score']>=70) & (school_data_complete['math_score']>=70)].groupby('school_name')
# all_passing = all_passing['Student ID'].count()/student_per_school

summary  = ({"School Type" : school_type,
                               "Total Students" : school_pop,
            "Total School Budget": school_budget,
             "Per Student Budget": per_student,
             "Average Math Score": average_math,
             "Average Reading Score": average_reading,
             "% Passing Math": passing_math,
             "% Passing Reading": passing_reading,
             "% Overall Passing": all_passing
             
            
                            })
#summary
summaryDF = pd.DataFrame(summary)
summaryDF

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,District,4976,3124928,628.0,77.048432,81.033963,66.680064,81.933280,0.546423
Cabrera High School,Charter,1858,1081356,582.0,83.061895,83.975780,94.133477,97.039828,0.913348
Figueroa High School,District,2949,1884411,639.0,76.711767,81.158020,65.988471,80.739234,0.532045
Ford High School,District,2739,1763916,644.0,77.102592,80.746258,68.309602,79.299014,0.542899
Griffin High School,Charter,1468,917500,625.0,83.351499,83.816757,93.392371,97.138965,0.905995
Hernandez High School,District,4635,3022020,652.0,77.289752,80.934412,66.752967,80.862999,0.535275
Holden High School,Charter,427,248087,581.0,83.803279,83.814988,92.505855,96.252927,0.892272
Huang High School,District,2917,1910635,655.0,76.629414,81.182722,65.683922,81.316421,0.535139
Johnson High School,District,4761,3094650,650.0,77.072464,80.966394,66.057551,81.222432,0.535392
Pena High School,Charter,962,585858,609.0,83.839917,84.044699,94.594595,95.945946,0.905405
Rodriguez High School,District,3999,2547363,637.0,76.842711,80.744686,66.366592,80.220055,0.529882
Shelton High School,Charter,1761,1056600,600.0,83.359455,83.725724,93.867121,95.854628,0.898921
Thomas High School,Charter,1635,1043130,638.0,83.418349,83.848930,93.272171,97.308869,0.909480
Wilson High School,Charter,2283,1319574,578.0,83.274201,83.989488,93.867718,96.539641,0.905826
Wright High School,Charter,1800,1049400,583.0,83.682222,83.955000,93.333333,96.611111,0.903333

In [203]:
school_pop = clean_school_data['school_name'].value_counts()

school_type = school_data.set_index(['school_name'])['type']

school_budget = school_data.set_index('school_name')['budget']

per_student = school_budget/school_pop

school = clean_school_data.groupby('school_name')
average_math = school['math_score'].mean()
average_reading = school['reading_score'].mean()

passing_math = clean_school_data.loc[clean_school_data['math_score'] >= 70,:].groupby('school_name')
passing_math = passing_math['Student ID'].count()/school_pop * 100

passing_reading = clean_school_data.loc[clean_school_data['reading_score'] >= 70,:].groupby('school_name')
passing_reading = passing_reading['Student ID'].count()/school_pop * 100

all_passing = clean_school_data.loc[(clean_school_data['reading_score']>=70) & (clean_school_data['math_score']>=70)].groupby('school_name')
all_passing = all_passing['Student ID'].count()/school_pop

# student_per_school = clean_school_data.set_index('school_name')['student_name'].count()

# school_budget = clean_school_data.set_index('school_name')['budget']

# student_budget = clean_school_data.set_index('school_name')['budget']/clean_school_data.set_index('student_name')['budget']


# average_math_score = school_group["math_score"].mean()
# average_reading_score = school_group["reading_score"].mean()


# passing_math = clean_school_data.loc[clean_school_data['math_score'] >= 70,:].groupby('school_name')
# passing_math = passing_math['Student ID'].count()/student_per_school * 100


# passing_reading = clean_school_data.loc[clean_school_data['reading_score'] >= 70,:].groupby('school_name')
# passing_reading = passing_reading['Student ID'].count()/student_per_school * 100


# all_passing = clean_school_data.loc[(clean_school_data['reading_score']>=70) & (school_data_complete['math_score']>=70)].groupby('school_name')
# all_passing = all_passing['Student ID'].count()/student_per_school

summary  = ({"School Type" : school_type,
                               "Total Students" : school_pop,
            "Total School Budget": school_budget,
             "Per Student Budget": per_student,
             "Average Math Score": average_math,
             "Average Reading Score": average_reading,
             "% Passing Math": passing_math,
             "% Passing Reading": passing_reading,
             "% Overall Passing": all_passing
             
            
                            })
#summary
summaryDF['Total School Budget'] = summary['Total School Budget'].map("{:,}".format)
summaryDF['Per Student Budget'] = summary['Per Student Budget'].map("{:.2f}".format)
summaryDF['Average Math Score'] = summary['Average Math Score'].map("{:.1f}".format)
summaryDF['Average Reading Score'] = summary['Average Reading Score'].map("{:.1f}".format)
summaryDF['% Passing Math'] = summary['% Passing Math'].map("{:.2%}".format)
summaryDF['% Passing Reading'] = summary['% Passing Reading'].map("{:.2%}".format)
summaryDF['% Overall Passing Rate'] = summary['% Overall Passing Rate'].map("{:.2%}".format)
summaryDF = pd.DataFrame(summary)
summaryDF

KeyError: '% Overall Passing Rate'

In [191]:
all_passing = clean_school_data.loc[(clean_school_data['reading_score']>=70) & (clean_school_data['math_score']>=70)].groupby('school_name')
all_passing = all_passing['Student ID'].count()/school_pop
all_passing

Bailey High School       0.546423
Cabrera High School      0.913348
Figueroa High School     0.532045
Ford High School         0.542899
Griffin High School      0.905995
Hernandez High School    0.535275
Holden High School       0.892272
Huang High School        0.535139
Johnson High School      0.535392
Pena High School         0.905405
Rodriguez High School    0.529882
Shelton High School      0.898921
Thomas High School       0.909480
Wilson High School       0.905826
Wright High School       0.903333
dtype: float64

In [ ]:


school_budget = school_data_complete.set_index('school_name')['budget']

student_budget = school_data_complete.set_index('school_name')['budget']/school_data_complete.set_index('school_name')['size']


average_math_score = school_group["math_score"].mean()
average_reading_score = school_group["reading_score"].mean()


passing_math = clean_school_data.loc[clean_school_data['math_score'] >= 70,:].groupby('school_name')
passing_math = passing_math['Student ID'].count()/school_pop * 100


passing_reading = clean_school_data.loc[clean_school_data['reading_score'] >= 70,:].groupby('school_name')
passing_reading = passing_reading['Student ID'].count()/school_pop * 100


all_passing = school_data_complete.loc[(school_data_complete['reading_score']>=70) & (school_data_complete['math_score']>=70)].groupby('school_name')
all_passing = all_passing['Student ID'].count()/student_per_school



summaryDF = ({"School Type" : school_type,
                               "Total Students" : student_per_school,
                               "Total School Budget" : school_budget,
                               "Per Student Budget" : student_budget,
                               "Average Math Score" : average_math_score,
                               "Average Reading Score" : average_reading_score,
                               "% Passing Math": passing_math,
                               "% Passing Reading" : passing_reading,
                               "Overall Passing Rate" : all_passing
    
                            })




#school_summaryDF = school_summaryDF [[ "School Type", 
                           #        "Total Students", 
                            #       "Total School Budget",
                             #      "Per Student Budget",
                              #     "Average Math Score",
                               #    "Average Reading Score",
                                #   "% Passing Math",
                                 #  "% Passing Reading",
                                  # "Overall Passing Rate"
                                   
#                                   ]]
    

    

summaryDF['Total School Budget'] = school_summary['Total School Budget'].map("{:,}".format)
summaryDF['Per Student Budget'] = school_summary['Per Student Budget'].map("{:.2f}".format)
summaryDF['Average Math Score'] = school_summary['Average Math Score'].map("{:.1f}".format)
summaryDF['Average Reading Score'] = school_summary['Average Reading Score'].map("{:.1f}".format)
summaryDF['% Passing Math'] = school_summary['% Passing Math'].map("{:.2%}".format)
summaryDF['% Passing Reading'] = school_summary['% Passing Reading'].map("{:.2%}".format)
summaryDF['Overall Passing Rate'] = school_summary['Overall Passing Rate'].map("{:.2%}".format)

summaryDF


















#school_summary = pd.DataFrame({"School Type": school_type,"Total Students": student_per_school,"Per Student Budget": student_budget,
    #"Total School Budget": school_budget,"Average Math Score": average_math_score,"Average Reading Score": average_reading_score,'% Passing Math': passing_math,'% Passing Reading': passing_reading,
    #"Overall Passing Rate": all_passing})
    

#student_per_school = '{:,}'.format(student_per_school)
#school_budget = '${:,.0f}'.format(school_budget)
#student_budget = '${:.0f}'.format(student_budget)
#average_math_score = '{:.1f}'.format(average_math_score)
#average_reading_score = '{:.1f}'.format(average_reading_score)
#passing_math = '{:.1%}'.format(passing_math)
#passing_reading = '{:.1%}'.format(passing_reading)
#all_passing ='{:.1%}'.format(all_passing)

                 
#school_summary = pd.DataFrame({"School Type" : [school_type, 1], "Total Students" : [student_per_school, 1], 
                              # "Per Student Budget": [student_budget, 1], "Total School Budget": [school_budget, 1],
                     #"Average Math Score" : [average_math_score, 1], "Average Reading Score" : [average_reading_score, 1],
                      #"% Passing Math" : [passing_math, 1], "% Passing Reading" : [passing_reading,1], 
                       #   "Overall Passing Rate" : [all_passing,1]})

#summaryDF = school_summary.drop([1])

#summaryDF

#school_summary = school_summary[['School Type', 'Total Students', 'Total School Budget','Per Student Budget', 
                          #'Average Math Score', 'Average Reading Score','% Passing Math','% Passing Reading',
                          #'Overall Passing Rate']]

## Top Performing Schools (By % Overall Passing)

* Sort and display the top five performing schools by % overall passing.

In [ ]:
top_school = school_data_complete.sort_values("Overall Passing Rate", ascending = False)
top_school.head().style.format({'Total Students': '{:,}',
                           "Total School Budget": "${:,}", 
                           "Per Student Budget": "${:.0f}", 
                           "% Passing Math": "{:.1%}", 
                           "% Passing Reading": "{:.1%}", 
                           "Overall Passing Rate": "{:.1%}"})

## Bottom Performing Schools (By % Overall Passing)

* Sort and display the five worst-performing schools by % overall passing.

## Math Scores by Grade

* Create a table that lists the average Reading Score for students of each grade level (9th, 10th, 11th, 12th) at each school.

  * Create a pandas series for each grade. Hint: use a conditional statement.
  
  * Group each series by school
  
  * Combine the series into a dataframe
  
  * Optional: give the displayed data cleaner formatting

## Reading Score by Grade

* Perform the same operations as above for reading scores

## Scores by School Spending

* Create a table that breaks down school performances based on average Spending Ranges (Per Student). Use 4 reasonable bins to group school spending. Include in the table each of the following:
  * Average Math Score
  * Average Reading Score
  * % Passing Math
  * % Passing Reading
  * Overall Passing Rate (Average of the above two)

## Scores by School Size

* Perform the same operations as above, based on school size.

## Scores by School Type

* Perform the same operations as above, based on school type